body {
  background-color: #0D1117;
  color: #e9f1f7;
  font: 1.2rem system-ui, sans-serif;
}

li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon-badge {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(0.8);
}

p {
  line-height: 1.5em;
  text-align: left;
}

h2 {
  margin-top: 0;
}

h1 {
  margin: 1.75rem 1.25rem 0;
  font-size: 2.5rem;
}

ul {
  padding: 0;
  line-height: 2.25em;
}

section {
  max-width: 60ch;
  padding: 3rem 1.5rem 0;
}

a {
  color: #e9f1f7;
}
